medias/flows.json
[{"id":"68c001f0.5c5ec","type":"tab","label":"Chargery BMS16T Dashboard","disabled":false,"info":""},{"id":"82e95408.192f3","type":"tab","label":"TestMqttInputChargeryBMS","disabled":true,"info":""},{"id":"ba720d30.97541","type":"mqtt-broker","name":"mosquito-mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abd0c3ef.a51598","type":"ui_tab","name":"Chargery BMS16T","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f45e0701.d93f4","type":"ui_group","name":"Test","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"51cf7b9a.07bf2c","type":"ui_group","name":"Info","tab":"abd0c3ef.a51598","order":1,"disp":true,"width":"6","collapse":false},{"id":"a93dd449.db7028","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"807cb1d2.0b30e8","type":"ui_group","name":"Cells","tab":"abd0c3ef.a51598","order":2,"disp":true,"width":6,"collapse":false},{"id":"79acca45.cb9144","type":"ui_group","name":"Impedances","tab":"abd0c3ef.a51598","order":3,"disp":true,"width":6,"collapse":false},{"id":"91db6e29.c11588","type":"ui_group","name":"Graphs (last hour)","tab":"abd0c3ef.a51598","order":4,"disp":true,"width":"6","collapse":true},{"id":"1804c3f6.e06e9c","type":"inject","z":"82e95408.192f3","name":"bms/1_16T/measures","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"bms/1_16T/measures","payload":"{\"eoc\":4.1,\"mode\":2,\"current\":0.0,\"t1\":21.2,\"t2\":21.3,\"soc\":15}","payloadType":"json","x":140,"y":60,"wires":[["168ec432.cda1b4"]]},{"id":"168ec432.cda1b4","type":"mqtt out","z":"82e95408.192f3","name":"","topic":"bms/1_16T/measures","qos":"","retain":"","broker":"ba720d30.97541","x":420,"y":60,"wires":[]},{"id":"c8526657.e5b9d8","type":"inject","z":"82e95408.192f3","name":"bms/1_16T/cellvoltages","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":0.1,"topic":"bms/1_16T/cellvoltages","payload":"{\"cell\":[3.703,3.68,3.69,3.71,3.703,3.68,3.69,3.71,3.703,3.68,3.69,3.71,3.703,3.68,0,0],\"wh\":1000,\"ah\":2000,\"vbatt\":51.343,\"diff\":{\"minidx\":10,\"maxidx\":3,\"vcellmin\":3.6,\"vcellmax\":3.4,\"diffmv\":10}}","payloadType":"json","x":150,"y":140,"wires":[["5f560bd9.2ad544"]]},{"id":"5f560bd9.2ad544","type":"mqtt out","z":"82e95408.192f3","name":"","topic":"bms/1_16T/cellvoltages","qos":"","retain":"","broker":"ba720d30.97541","x":430,"y":140,"wires":[]},{"id":"46583296.c98724","type":"mqtt in","z":"68c001f0.5c5ec","name":"","topic":"bms/1_16T/measures","qos":"0","datatype":"json","broker":"ba720d30.97541","x":120,"y":160,"wires":[["f6c4fa3a.f5fe58","7c697134.42f058","fa8b9c95.cb8418","f0801935.b61f78","a20081eb.95a41","1159c1a4.c71596"]]},{"id":"521ebe05.b513c","type":"ui_text","z":"68c001f0.5c5ec","group":"51cf7b9a.07bf2c","order":4,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload.mode}}","layout":"row-spread","x":710,"y":240,"wires":[]},{"id":"d2137c0.23b0a88","type":"change","z":"68c001f0.5c5ec","name":"1-Charging","rules":[{"t":"change","p":"payload.mode","pt":"msg","from":"1","fromt":"num","to":"Charging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[["521ebe05.b513c"]]},{"id":"1f34e19d.a4461e","type":"change","z":"68c001f0.5c5ec","name":"0-Discharging","rules":[{"t":"change","p":"payload.mode","pt":"msg","from":"0","fromt":"num","to":"Discharging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["521ebe05.b513c"]]},{"id":"9ce319e9.9beb48","type":"change","z":"68c001f0.5c5ec","name":"2-Stockage","rules":[{"t":"change","p":"payload.mode","pt":"msg","from":"2","fromt":"num","to":"Stockage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["521ebe05.b513c"]]},{"id":"f6c4fa3a.f5fe58","type":"switch","z":"68c001f0.5c5ec","name":"","property":"payload.mode","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":240,"wires":[["1f34e19d.a4461e"],["d2137c0.23b0a88"],["9ce319e9.9beb48"]]},{"id":"7c697134.42f058","type":"ui_gauge","z":"68c001f0.5c5ec","name":"","group":"51cf7b9a.07bf2c","order":1,"width":0,"height":0,"gtype":"wave","title":"SOC","label":"%","format":"{{payload.soc}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":60,"wires":[]},{"id":"a9995da9.ad807","type":"mqtt in","z":"68c001f0.5c5ec","name":"","topic":"bms/1_16T/cellvoltages","qos":"0","datatype":"json","broker":"ba720d30.97541","x":120,"y":500,"wires":[["5bbec61f.30263","2bcb279e.6051b","faeba66a.22f3b","ea29274f.0e0dc8","209e1ec3.fd3592","cbdcfbc4.2e16b","bc4458ee.549bf","53d64ec4.c7c1d8","e8049884.912548"]]},{"id":"5bbec61f.30263","type":"function","z":"68c001f0.5c5ec","name":"sumCellsVoltage","func":"var sum = msg.payload.cell.reduce((a, b) => a + b, 0).toFixed(3);\nmsg.payload=sum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":480,"wires":[[]]},{"id":"2bca46d3.635a8a","type":"ui_text","z":"68c001f0.5c5ec","group":"51cf7b9a.07bf2c","order":2,"width":0,"height":0,"name":"","label":"Vbatt","format":"{{value}} V","layout":"row-spread","x":550,"y":680,"wires":[]},{"id":"e9d98f78.1fdce8","type":"ui_chart","z":"68c001f0.5c5ec","name":"","group":"807cb1d2.0b30e8","order":4,"width":0,"height":0,"label":"Cells voltages 1-8","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"3","ymax":"4.2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":500,"wires":[[]]},{"id":"2bcb279e.6051b","type":"function","z":"68c001f0.5c5ec","name":"cellsToChart","func":"var msg1={labels: [\"V1\",\"V2\",\"V3\",\"V4\",\"V5\",\"V6\",\"V7\",\"V8\"],series: [\"Vcell\"],data:[msg.payload.cell.slice(0,8)]};\nvar msg2={labels: [\"V9\",\"V10\",\"V11\",\"V12\",\"V13\",\"V14\",\"V15\",\"V16\"],series: [\"Vcell\"],data:[msg.payload.cell.slice(8,16)]};\nreturn [{payload:[msg1]},{payload:[msg2]}];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":370,"y":520,"wires":[["e9d98f78.1fdce8"],["6c16388f.46db2"]]},{"id":"faeba66a.22f3b","type":"ui_text","z":"68c001f0.5c5ec","group":"807cb1d2.0b30e8","order":1,"width":0,"height":0,"name":"","label":"Diff","format":"{{msg.payload.diff.diffmv}} mV","layout":"col-center","x":350,"y":560,"wires":[]},{"id":"ea29274f.0e0dc8","type":"ui_text","z":"68c001f0.5c5ec","group":"807cb1d2.0b30e8","order":2,"width":0,"height":0,"name":"cellmin","label":"Cell min ({{msg.payload.diff.minidx+1}})","format":"{{msg.payload.diff.vcellmin}} V","layout":"col-center","x":360,"y":600,"wires":[]},{"id":"209e1ec3.fd3592","type":"ui_text","z":"68c001f0.5c5ec","group":"807cb1d2.0b30e8","order":3,"width":0,"height":0,"name":"cellmax","label":"Cell max ({{msg.payload.diff.maxidx+1}})","format":"{{msg.payload.diff.vcellmax}} V","layout":"col-center","x":360,"y":640,"wires":[]},{"id":"c1700bd7.b006f8","type":"mqtt in","z":"68c001f0.5c5ec","name":"","topic":"bms/1_16T/cellimpedances","qos":"0","datatype":"json","broker":"ba720d30.97541","x":140,"y":840,"wires":[["164e67d5.d4423","a0c340fc.45776"]]},{"id":"164e67d5.d4423","type":"function","z":"68c001f0.5c5ec","name":"resistancesToChart","func":"var output = {labels: [\"R1\",\"R2\",\"R3\",\"R4\",\"R5\",\"R6\",\"R7\",\"R8\",\"R9\",\"R10\",\"R11\",\"R12\",\"R13\",\"R14\",\"R15\",\"R16\"], series: [\"rcell\"], data:[msg.payload.rcell]};\nreturn {payload:[output]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":840,"wires":[["60456886.24322"]]},{"id":"60456886.24322","type":"ui_chart","z":"68c001f0.5c5ec","name":"","group":"79acca45.cb9144","order":1,"width":0,"height":0,"label":"Cell impedances (mOhm)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":840,"wires":[[]]},{"id":"d56989fc.c2bf2","type":"ui_chart","z":"68c001f0.5c5ec","name":"Current chart","group":"91db6e29.c11588","order":1,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"48","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":740,"wires":[[]]},{"id":"cbdcfbc4.2e16b","type":"change","z":"68c001f0.5c5ec","name":"vbatt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vbatt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":680,"wires":[["d56989fc.c2bf2","2bca46d3.635a8a"]]},{"id":"6a2ad36a.f3e93c","type":"ui_text","z":"68c001f0.5c5ec","group":"51cf7b9a.07bf2c","order":3,"width":0,"height":0,"name":"","label":"Current","format":"{{msg.payload}} A","layout":"row-spread","x":520,"y":100,"wires":[]},{"id":"fa8b9c95.cb8418","type":"ui_text","z":"68c001f0.5c5ec","group":"51cf7b9a.07bf2c","order":7,"width":0,"height":0,"name":"","label":"T1","format":"{{msg.payload.t1}} °C","layout":"row-spread","x":330,"y":140,"wires":[]},{"id":"f0801935.b61f78","type":"ui_text","z":"68c001f0.5c5ec","group":"51cf7b9a.07bf2c","order":8,"width":0,"height":0,"name":"","label":"T2","format":"{{msg.payload.t2}} °C","layout":"row-spread","x":330,"y":180,"wires":[]},{"id":"a0c340fc.45776","type":"debug","z":"68c001f0.5c5ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":800,"wires":[]},{"id":"a20081eb.95a41","type":"debug","z":"68c001f0.5c5ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":20,"wires":[]},{"id":"bc4458ee.549bf","type":"ui_text","z":"68c001f0.5c5ec","group":"51cf7b9a.07bf2c","order":5,"width":0,"height":0,"name":"","label":"Ah","format":"{{msg.payload.ah}} Ah","layout":"row-spread","x":350,"y":400,"wires":[]},{"id":"53d64ec4.c7c1d8","type":"ui_text","z":"68c001f0.5c5ec","group":"51cf7b9a.07bf2c","order":6,"width":0,"height":0,"name":"","label":"Wh","format":"{{msg.payload.wh}} Wh","layout":"row-spread","x":350,"y":440,"wires":[]},{"id":"6c16388f.46db2","type":"ui_chart","z":"68c001f0.5c5ec","name":"","group":"807cb1d2.0b30e8","order":5,"width":0,"height":0,"label":"Cells voltages 9-16","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"3","ymax":"4.2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":540,"wires":[[]]},{"id":"e8049884.912548","type":"debug","z":"68c001f0.5c5ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":360,"wires":[]},{"id":"1159c1a4.c71596","type":"change","z":"68c001f0.5c5ec","name":"current","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["6a2ad36a.f3e93c","15901529.7c6ef3"]]},{"id":"15901529.7c6ef3","type":"ui_chart","z":"68c001f0.5c5ec","name":"Current chart","group":"91db6e29.c11588","order":1,"width":0,"height":0,"label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":140,"wires":[[]]},{"id":"b33cdc01.949d58","type":"inject","z":"82e95408.192f3","name":"bms/1_16T/cellimpedances","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"bms/1_16T/cellimpedances","payload":"{\"rcell\":[3.703,3.68,3.69,3.71,3.703,3.68,3.69,3.71,3.703,3.68,3.69,3.71,3.703,3.68,0,0],\"wh\":1000,\"ah\":2000}","payloadType":"json","x":160,"y":240,"wires":[["881d37a4.271a28"]]},{"id":"881d37a4.271a28","type":"mqtt out","z":"82e95408.192f3","name":"","topic":"bms/1_16T/cellimpedances","qos":"","retain":"","broker":"ba720d30.97541","x":440,"y":240,"wires":[]}]